<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Navbar</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a routerLink="/customers">Customer management</a>
      </li>
      <li>
        <a routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/login">
          <span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="container">
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
    Add customer
  </button>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Type information about the customer</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <div class="add">
            <input #customerName type="text" placeholder="Name" class="form-control" />
            <br>
            <input #customerSurname type="text" placeholder="Surname" class="form-control" />
            <br>
            <input #customerEmail type="text" placeholder="Email" class="form-control" />
            <br>
            <input #customerLogin type="text" placeholder="Login" class="form-control" />
            <br>
            <input #customerPassword type="text" placeholder="Password" class="form-control" />
            <br>
            <div class="row">
              <div class="col-xs-12 col-12 col-md-4 form-group">
                <input #customerDOB type="text" placeholder="DOB" class="form-control" bsDatepicker placement="right" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'MMM DD, YYYY' }">
              </div>
            </div>
            <button type="button" class="btn btn-success" (click)="add(customerName.value, customerSurname.value, customerEmail.value, customerLogin.value, customerPassword.value, customerDOB.value); customerName.value=''; customerSurname.value=''; customerEmail.value=''; customerLogin.value=''; customerPassword.value=''; customerDOB.value=''">
              Add
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>
<br>

<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </div>
      <input type="text" class="form-control" name="searchString" placeholder="Type surname to search..." [(ngModel)]="searchString">
    </div>
  </div>
</form>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>
        <a href (click)="sortTable('id')">ID</a>
      </th>
      <th>
        <a href (click)="sortTable('name')">Name</a>
      </th>
      <th>
        <a href (click)="sortTable('surname')">Surname</a>
      </th>
      <th>Rent cars</th>
      <th>Edit customer</th>
      <th>Delete customer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers | sortingCustomers:path:order | filter : 'surname' : searchString;">
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.surname}}</td>
      <td>{{customer.rentCars}}</td>
      <td>
        <button type="button" class="btn btn-info" routerLink="/customerdetail/{{customer.id}}">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="openModal(template)">Delete</button>
        <br>
        <ng-template #template>
          <div class="modal-body text-center">
            <p>Do you really want to delete customer with id {{customer.id}}?</p>
            <button type="button" class="btn btn-success" (click)="delete(customer)">Yes</button>
            <button type="button" class="btn btn-danger" (click)="decline()">No</button>
          </div>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>