<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Please provide login and password</h3>
				</div>
				<div class="panel-body">
					<form>
							<div class="form-group">
								<input #login class="form-control" placeholder="Login"
									type="text">
							</div>
							<div class="form-group">
								<input #pass class="form-control" placeholder="Password"
									type="password" value="">
							</div>
							<button (click)="loginUser(login.value, pass.value)" class="btn btn-lg btn-success btn-block" type="submit">Login</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>