<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Navbar</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a routerLink="/rentals">Rental administration</a>
      </li>
      <li>
        <a routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/login">
          <span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
    Add rental
  </button>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Type information about the rental</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <div class="add">
            <input #rentalCustomerId type="text" placeholder="CustomerId" class="form-control" />
            <br>
            <input #rentalCarId type="text" placeholder="CarId" class="form-control" />
            <br>
            <div id="div1">
              <label>Additional Wifi:
                <input type="checkbox" [checked]="checkHasWifi" (change)="checkHasWifi= !checkHasWifi" />
              </label>
            </div>
            <div id="div2">
              <label>Additional GPS:
                <input type="checkbox" [checked]="checkHasGPS" (change)="checkHasGPS= !checkHasGPS" />
              </label>
            </div>
            <div id="div3">
              <label>Additional child seat:
                <input type="checkbox" [checked]="checkHasChildSeat" (change)="checkHasChildSeat= !checkHasChildSeat" />
              </label>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-xs-12 col-12 col-md-4 form-group">
                <input #rentalDateFrom type="text" placeholder="dateFrom" class="form-control" bsDatepicker placement="right" [bsConfig]="{ dateInputFormat: 'MMM DD, YYYY' }">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-12 col-md-4 form-group">
                <input #rentalDateTo type="text" placeholder="dateTo" class="form-control" bsDatepicker placement="right" [bsConfig]="{ dateInputFormat: 'MMM DD, YYYY' }">
              </div>
            </div>
            <label>Accept rental:
              <input type="checkbox" [checked]="checkIsAccepted" (change)="checkIsAccepted= !checkIsAccepted" />
            </label>
            <br>
            <br>
            <button type="button" class="btn btn-success" (click)="add(rentalCustomerId.value, rentalCarId.value, rentalDateFrom.value, rentalDateTo.value); rentalCustomerId.value=''; rentalCarId.value=''; rentalDateFrom.value=''; rentalDateTo.value=''">
              Add
            </button>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
<br>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th colspan="13">Pending rentals</th>
    </tr>
    <tr>
      <th>
        <a href (click)="sortTable('id')">ID</a>
      </th>
      <th>
        <a href (click)="sortTable('customerId')">Customer ID</a>
      </th>
      <th>
        <a href (click)="sortTable('carId')">Car ID</a>
      </th>
      <th>
        <a href (click)="sortTable('dateFrom')">Date from</a>
      </th>
      <th>
        <a href (click)="sortTable('dateTo')">Date to</a>
      </th>
      <th>Equiped with Wifi</th>
      <th>Equiped with GPS</th>
      <th>Equiped with child seat</th>
      <th>Status accepted</th>
      <th>Accept rental</th>
      <th>Suspend rental</th>
      <th>Edit rental</th>
      <th>Delete rental</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentals | sortingCars:path:order | filter : 'id' : searchString;">
      <ng-template [ngIf]="rental.isAccepted===false">
        <td>{{rental.id}}</td>
        <td>
          {{rental.customerId}}
        </td>
        <td>
          {{rental.carId}}
        </td>
        <td>
          {{rental.dateFrom | date}}
        </td>
        <td>
          {{rental.dateTo | date}}
        </td>
        <td>
          {{rental.hasWifi}}
        </td>
        <td>
          {{rental.hasGPS}}
        </td>
        <td>
          {{rental.hasChildSeat}}
        </td>
        <td>
          {{rental.isAccepted}}
        </td>
        <td>
          <button type="button" class="btn btn-success" (click)="openModal(template1)">Accept</button>
          <br>
          <ng-template #template1>
            <div class="modal-body text-center">
              <h4>Add extra equipement?</h4>
              <div id="div1">
                <label>Additional Wifi:
                  <input type="checkbox" [checked]="checkHasWifi" (change)="checkHasWifi= !checkHasWifi" />
                </label>
              </div>
              <div id="div2">
                <label>Additional GPS:
                  <input type="checkbox" [checked]="checkHasGPS" (change)="checkHasGPS= !checkHasGPS" />
                </label>
              </div>
              <div id="div3">
                <label>Additional child seat:
                  <input type="checkbox" [checked]="checkHasChildSeat" (change)="checkHasChildSeat= !checkHasChildSeat" />
                </label>
              </div>
              <br>
              <br>
              <h4>Accept rental with id {{rental.id}}?</h4>
              <button type="button" class="btn btn-success" (click)="rentCar(rental)">Yes</button>
              <button type="button" class="btn btn-danger" (click)="decline()">No</button>
            </div>
          </ng-template>
        </td>
        <td>
          <button type="button" class="btn btn-warning" (click)="suspendRental(rental)">Suspend</button>
        </td>
        <td>
          <button type="button" class="btn btn-info" routerLink="/rentaldetail/{{rental.id}}">Edit</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="openModal(template2)">Delete</button>
          <br>
          <ng-template #template2>
            <div class="modal-body text-center">
              <p>Do you really want to delete rental with id {{rental.id}}?</p>
              <button type="button" class="btn btn-success" (click)="delete(rental)">Yes</button>
              <button type="button" class="btn btn-danger" (click)="decline()">No</button>
            </div>
          </ng-template>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th colspan="13">Accepted rentals</th>
    </tr>
    <tr>
      <th>
        <a href (click)="sortTable('id')">ID</a>
      </th>
      <th>
        <a href (click)="sortTable('customerId')">Customer ID</a>
      </th>
      <th>
        <a href (click)="sortTable('carId')">Car ID</a>
      </th>
      <th>
        <a href (click)="sortTable('dateFrom')">Date from</a>
      </th>
      <th>
        <a href (click)="sortTable('dateTo')">Date to</a>
      </th>
      <th>Equiped with Wifi</th>
      <th>Equiped with GPS</th>
      <th>Equiped with child seat</th>
      <th>Status accepted</th>
      <th>Suspend rental</th>
      <th>Edit rental</th>
      <th>Return car</th>
      <th>Delete rental</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentals | sortingCars:path:order | filter : 'id' : searchString;">
      <ng-template [ngIf]="rental.isAccepted===true">
        <td>{{rental.id}}</td>
        <td>
          {{rental.customerId}}
        </td>
        <td>
          {{rental.carId}}
        </td>
        <td>
          {{rental.dateFrom | date}}
        </td>
        <td>
          {{rental.dateTo | date}}
        </td>
        <td>
          {{rental.hasWifi}}
        </td>
        <td>
          {{rental.hasGPS}}
        </td>
        <td>
          {{rental.hasChildSeat}}
        </td>
        <td>
          {{rental.isAccepted}}
        </td>
        <td>
          <button type="button" class="btn btn-warning" (click)="suspendRental(rental)">Suspend</button>
        </td>
        <td>
          <button type="button" class="btn btn-info" routerLink="/rentaldetail/{{rental.id}}">Edit</button>
        </td>
        <td>
            <button type="button" class="btn btn-success" routerLink="/cardetail/{{rental.carId}}">Return car</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="openModal(template2)">Delete</button>
          <br>
          <ng-template #template2>
            <div class="modal-body text-center">
              <p>Do you really want to delete rental with id {{rental.id}}?</p>
              <button type="button" class="btn btn-success" (click)="delete(rental)">Yes</button>
              <button type="button" class="btn btn-danger" (click)="decline()">No</button>
            </div>
          </ng-template>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>