<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Navbar</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="/customer-dashboard">Dashboard</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/login">
            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
      </ul>
    </div>
</nav>
<br>

<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </div>
      <input type="text" class="form-control" name="searchString" placeholder="Type mark to search..." [(ngModel)]="searchString">
    </div>
  </div>
</form>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>
      <a href (click)="sortTable('id')">ID</a>
    </th>
    <th>
      <a href (click)="sortTable('mark')">Mark</a>
    </th>
    <th>
      <a href (click)="sortTable('model')">Model</a>
    </th>
    <th>
        <a href (click)="sortTable('productionDate')">Production date</a>
    </th>
    <th>
        <a href (click)="sortTable('mileage')">Mileage</a>
    </th>
    <th>Reserve</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of cars | sortingCars:path:order | filter : 'mark' : searchString;">
    <td>{{car.id}}</td>
    <td>{{car.mark}}</td>
    <td>{{car.model}}</td>
    <td>{{car.productionDate | date}}</td>
    <td>{{car.mileage}}</td>
    <td>
      <button type="button" class="btn btn-success" routerLink="/reservation/{{car.id}}">Reserve this car</button>
    </td>
  </tr>
  </tbody>
</table>
