<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="glyphicon glyphicon-search"></i>
        </div>
        <input #searchBox id="search-box" (keyup)="search(searchBox.value)" type="text" class="form-control" name="searchString" placeholder="Search customers by surname">
        <ul class="search-result">
            <li *ngFor="let customer of customers$ | async" >
              <a routerLink="/customerdetail/{{customer.id}}">
                {{customer.surname}}
              </a>
            </li>
        </ul>
      </div>
    </div>
  </form>