<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Navbar</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/customers">Customer management</a>
      </li>
      <li>
        <a routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/login">
          <span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="detail" *ngIf="customer">
<table class="table table-striped table-bordered">
  <tr>
    <th colspan="2">Customer {{ customer.id }} details</th>
  </tr>
    <tr>
      <th>ID</th>
      <td>{{customer.id}}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td><input [(ngModel)]="customer.name" placeholder="name"></td>
    </tr>
    <tr>
      <th>Surname</th>
      <td><input [(ngModel)]="customer.surname" placeholder="surname"></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><input [(ngModel)]="customer.email" placeholder="email"></td>
    </tr>
    <tr>
      <th>Login</th>
      <td><input [(ngModel)]="customer.login" placeholder="login"></td>
    </tr>
    <tr>
      <th>Password</th>
      <td><input [(ngModel)]="customer.password" placeholder="password"></td>
    </tr>
    <tr>
      <th>DOB</th>
      <td><input [ngModel]="customer.DOB | date:'yyyy-MM-dd'"  (ngModelChange)="customer.DOB = $event"  type="date"  name="DOB" /></td>
    </tr>
    <tr>
      <th colspan="2"><button type="button" class="btn btn-primary" (click)="save()">Edit</button></th>
    </tr>  
</table>
</div>