  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: fit-content;
    background-color: black;
    margin-left:auto; 
    margin-right:auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }