h1 {
  color: black;
  margin-bottom: 0;
  text-align: center;
  }

.main {
  background: url("assets/cars.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 650px; 
  }
