<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Navbar</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/cars">Car administration</a>
      </li>
      <li>
        <a routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/login">
          <span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="detail" *ngIf="car">
  <table class="table table-striped table-bordered">
    <tr>
      <th colspan="2">Car {{ car.id}} details</th>
    </tr>
    <tr>
      <th>ID</th>
      <td>{{car.id}}</td>
    </tr>
    <tr>
      <th>Mark</th>
      <td>
        <input [(ngModel)]="car.mark" placeholder="mark">
      </td>
    </tr>
    <tr>
      <th>Model</th>
      <td>
        <input [(ngModel)]="car.model" placeholder="model">
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <input [(ngModel)]="car.description" placeholder="description">
      </td>
    </tr>
    <tr>
      <th>Remarks</th>
      <td>
        <input [(ngModel)]="car.remarks" placeholder="remarks">
      </td>
    </tr>
    <tr>
      <th>Color</th>
      <td>
        <input [(ngModel)]="car.color" placeholder="color">
      </td>
    </tr>
    <tr>
      <th>Mileage</th>
      <td>
        <input [(ngModel)]="car.mileage" placeholder="mileage">
      </td>
    </tr>
    <tr>
      <th>Production date</th>
      <td>
        <input [ngModel]="car.productionDate | date:'yyyy-MM-dd'"  (ngModelChange)="car.productionDate = $event"  type="date"
           name="productionDate" />
      </td>
    </tr>
    <tr>
      <th>Retirement date</th>
      <td>
        <input [ngModel]="car.retirementDate | date:'yyyy-MM-dd'"  (ngModelChange)="car.retirementDate = $event"  type="date"
           name="retirementDate" />
      </td>
    </tr>
    <tr>
      <th>Service period</th>
      <td>
        <input [ngModel]="car.servicePeriod | date:'yyyy-MM-dd'"  (ngModelChange)="car.servicePeriod = $event"  type="date"
           name="servicePeriod" />
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <button type="button" class="btn btn-primary" (click)="save()">Edit</button>
      </th>
    </tr>
  </table>
</div>