<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Navbar</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="/customer-dashboard">Dashboard</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a routerLink="/login">
                    <span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="detail" *ngIf="car">
    <table class="table table-striped table-bordered">
        <tr>
            <th colspan="2">Car {{ car.id}} details</th>
        </tr>
        <tr>
            <th>ID</th>
            <td>{{car.id}}</td>
        </tr>
        <tr>
            <th>Mark</th>
            <td>{{car.mark}}</td>
        </tr>
        <tr>
            <th>Model</th>
            <td>{{car.model}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{car.description}}</td>
        </tr>
        <tr>
            <th>Remarks</th>
            <td>{{car.remarks}}</td>
        </tr>
        <tr>
            <th>Color</th>
            <td>{{car.color}}</td>
        </tr>
        <tr>
            <th>Mileage</th>
            <td>{{car.mileage}}</td>
        </tr>
        <tr>
            <th>Production date</th>
            <td>{{car.productionDate | date}}</td>
        </tr>
        <tr>
            <th>Retirement date</th>
            <td>{{car.retirementDate | date}}</td>
        </tr>
        <tr>
            <th>Service period</th>
            <td>{{car.servicePeriod | date}}</td>
        </tr>
    </table>

    <table class="table table-striped table-bordered">
        <tr>
            <th colspan="2">Choose rental dates</th>
        </tr>
        <tr>
            <th>Date from</th>
            <th>Date to</th>
        </tr>
        <tr>
            <td class="nowe1">
                <div class="row">
                    <div class="col-xs-12 col-12 col-sm-6 col-md-8 form-group">
                        <input class="form-control" placeholder="Date from" bsDatepicker placement="left" [minDate]="minDate" (bsValueChange)="setDateFrom($event)"
                        />
                    </div>
                </div>
            </td>
            <td class="nowe2">
                <div class="row">
                    <div class="col-xs-12 col-12 col-sm-6 col-md-8 form-group">
                        <input class="form-control" placeholder="Date to" bsDatepicker placement="right" [minDate]="minDate" (bsValueChange)="setDateTo($event)" />
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <button type="button" class="btn btn-success" (click)="reserve()">Make reservation</button>
            </th>
        </tr>
    </table>

</div>