<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Navbar</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li>
          <a routerLink="/rentals">Rental administration</a>
        </li>
        <li>
            <a routerLink="/customers">Customer management</a>
        </li>
        <li>
            <a routerLink="/cars">Car administration</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/login">
            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
      </ul>
    </div>
</nav>
<app-car-search></app-car-search>
<br>
<app-customer-search></app-customer-search>
<br>
<h3>Most popular cars</h3>
<div class="grid grid-pad">
  <a *ngFor="let car of cars" class="col-1-4" routerLink="/cardetail/{{car.id}}">
    <div class="module car">
      <h4>{{car.model}}</h4>
    </div>
  </a>
</div>
<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-sm-8 center-block">
<carousel class="popular">
    <slide>
      <img src="assets/leon.jpg" alt="First slide" style="display: block; width: 100%; height: 90%;">
    </slide>
    <slide>
      <img src="assets/giulietta.jpg" alt="Second slide" style="display: block; width: 100%; height: 90%;">
    </slide>
    <slide>
      <img src="assets/captur.jpg" alt="Third slide" style="display: block; width: 100%; height: 90%;">
    </slide>
    <slide>
      <img src="assets/auris.jpg" alt="Fourth slide" style="display: block; width: 100%; height: 90%;">
    </slide>
  </carousel>
</div>
</div>
</div>