<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Navbar</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/rentals">Rental administration</a>
        </li>
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/login">
            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
      </ul>
    </div>
</nav>

<div class="detail" *ngIf="rental">
<table class="table table-striped table-bordered">
    <tr>
      <th colspan="2"> Rental {{ rental.id }} details</th>
    </tr>
      <tr>
        <th>ID</th>
        <td>{{rental.id}}</td>
      </tr>
      <tr>
        <th>Customer ID</th>
        <td><input [(ngModel)]="rental.customerId" placeholder="customerId"></td>
      </tr>
      <tr>
        <th>Car ID</th>
        <td><input [(ngModel)]="rental.carId" placeholder="carId"></td>
      </tr>
      <tr>
        <th>Has wifi</th>
        <td><input type="checkbox" [checked]="rental.hasWifi" (change)="rental.hasWifi= !rental.hasWifi" /></td>
      </tr>
      <tr>
        <th>Has GPS</th>
        <td><input type="checkbox" [checked]="rental.hasGPS" (change)="rental.hasGPS= !rental.hasGPS" /></td>
      </tr>
      <tr>
        <th>Has child seat</th>
        <td><input type="checkbox" [checked]="rental.hasChildSeat" (change)="rental.hasChildSeat= !rental.hasChildSeat" /></td>
      </tr>
      <tr>
        <th>Date from</th>
        <td><input [ngModel]="rental.dateFrom | date:'yyyy-MM-dd'" (ngModelChange)="rental.dateFrom = $event" type="date" name="dateFrom"/></td>
      </tr>
      <tr>
        <th>Date to</th>
        <td><input [ngModel]="rental.dateTo | date:'yyyy-MM-dd'" (ngModelChange)="rental.dateTo = $event" type="date" name="dateTo"/></td>
      </tr>
      <tr>
        <th colspan="2"><button type="button" class="btn btn-primary" (click)="save()">Edit</button></th>
      </tr>  
  </table>
</div>
