<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="glyphicon glyphicon-search"></i>
        </div>
        <input #searchBox id="search-box" (keyup)="search(searchBox.value)" type="text" class="form-control" name="searchString" placeholder="Search cars by model">
        <ul class="search-result">
            <li *ngFor="let car of cars$ | async" >
              <a routerLink="/cardetail/{{car.id}}">
                {{car.model}}
              </a>
            </li>
        </ul>
      </div>
    </div>
  </form>
