<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Navbar</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="/cars">Car administration</a>
        </li>
        <li>
          <a routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/login">
            <span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
      </ul>
    </div>
</nav>
<br>

<div class="container">
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
    Add car
  </button>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Type information about the car</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <div class="add">
            <input #carMark type="text" placeholder="Mark" class="form-control" />
            <br>
            <input #carModel type="text" placeholder="Model" class="form-control" />
            <br>
            <input #carDescription type="text" placeholder="Description" class="form-control" />
            <br>
            <input #carRemarks type="text" placeholder="Remarks" class="form-control" />
            <br>
            <input #carColor type="text" placeholder="Color" class="form-control" />
            <br>
            <input #carMileage type="text" placeholder="Mileage" class="form-control" />
            <br>
            <div class="row">
              <div class="col-xs-12 col-12 col-md-4 form-group">
                <input #carProductionDate type="text" placeholder="ProductionDate" class="form-control" bsDatepicker placement="right" [bsConfig]="{ dateInputFormat: 'MMM DD, YYYY' }">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-12 col-md-4 form-group">
                <input #carRetirementDate type="text" placeholder="RetirementDate" class="form-control" bsDatepicker placement="right" [bsConfig]="{ dateInputFormat: 'MMM DD, YYYY' }">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-12 col-md-4 form-group">
                <input #carServicePeriod type="text" placeholder="ServicePeriod" class="form-control" bsDatepicker placement="right" [bsConfig]="{ dateInputFormat: 'MMM DD, YYYY' }">
              </div>
            </div>
            <button type="button" class="btn btn-success" (click)="add(carModel.value, carMark.value, carDescription.value, carRemarks.value, carColor.value, carProductionDate.value, carRetirementDate.value, carMileage.value, carServicePeriod.value); carModel.value=''; carMark.value=''; carDescription.value=''; carRemarks.value=''; carColor.value=''; carProductionDate.value=''; carRetirementDate.value=''; carMileage.value=''; carServicePeriod.value=''">
              Add
            </button>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>
<br>

<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </div>
      <input type="text" class="form-control" name="searchString" placeholder="Type mark to search..." [(ngModel)]="searchString">
    </div>
  </div>
</form>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>
      <a href (click)="sortTable('id')">ID</a>
    </th>
    <th>
      <a href (click)="sortTable('mark')">Mark</a>
    </th>
    <th>
      <a href (click)="sortTable('model')">Model</a>
    </th>
    <th>
        <a href (click)="sortTable('productionDate')">Production date</a>
    </th>
    <th>
        <a href (click)="sortTable('mileage')">Mileage</a>
    </th>
    <th>Edit car</th>
    <th>Delete car</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of cars | sortingCars:path:order | filter : 'mark' : searchString;">
    <td>{{car.id}}</td>
    <td>{{car.mark}}</td>
    <td>{{car.model}}</td>
    <td>{{car.productionDate | date}}</td>
    <td>{{car.mileage}}</td>
    <td>
        <button type="button" class="btn btn-info" routerLink="/cardetail/{{car.id}}">Edit</button>
    </td>
    <td>
        <button type="button" class="btn btn-danger" (click)="openModal(template)">Delete</button>
        <br>
        <ng-template #template>
          <div class="modal-body text-center">
            <p>Do you really want to delete car with id {{car.id}}?</p>
            <button type="button" class="btn btn-success" (click)="delete(car)">Yes</button>
            <button type="button" class="btn btn-danger" (click)="decline()">No</button>
          </div>
        </ng-template>
    </td>
  </tr>
  </tbody>
</table>