/* Master Styles */
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
} 
a {
  cursor: pointer;
  cursor: hand;
}
 button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
